body {
  font-family: Arial, sans-serif;
  background-color: #121212; /* Dark background */
  color: #F8F4E1; /* Light text color */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

h1 {
  color: #AF8F6F; /* Main heading color */
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-top: 0;
  color: #AF8F6F; /* Header color */
}

.top-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.stocks-container,
.diversity-container,
.portfolio-container {
  padding: 20px;
  border: 2px solid #74512D; /* Darker border */
  border-radius: 10px;
  background-color: #1e1e1e; /* Darker background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.stocks-container {
  width: 100%; /* Occupy full width */
  margin-top: 20px;
}

.diversity-container,
.portfolio-container {
  width: 48%; /* Adjust width to fit side by side */
}

.stocks-list,
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.stock-button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: #74512D; /* Button background color */
  color: #F8F4E1; /* Button text color */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.stock-button:hover {
  background-color: #AF8F6F; /* Lighter color on hover */
}

.reset-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #543310; /* Reset button background color */
  color: #F8F4E1; /* Reset button text color */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #AF8F6F; /* Lighter color on hover */
}

.diversity-score {
  font-weight: bold;
  font-size: 1.2em;
  color: #F8F4E1; /* Light text color for diversity score */
}

.portfolio-container h2,
.diversity-container h2,
.stocks-container h2 {
  text-align: center;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .top-section {
    flex-direction: column;
    align-items: center;
  }

  .diversity-container,
  .portfolio-container {
    width: 100%;
    margin-bottom: 20px;
  }
}
